%h1 Goals Summary
- @goals.each do |goal|
	%h2= goal.goal_name
	%table
		%thead
			%tr
				%th Sun
				%th Mon
				%th Tues
				%th Wed
				%th Thurs
				%th Fri
				%th Sat
		%tbody
			%tr
			- Report.current_week(goal.id).each do |bool|
				%td= bool